---
import Layout from '../../layouts/Layout.astro';
import EvidenceCard from '../../components/EvidenceCard.astro';
import { evidencias } from '../../data/evidencias';

const data = evidencias.sql;
---

<Layout title="SQL Evidence">
  <section class="section-container py-20">
    <div class="mb-10">
      <h1 class="text-5xl font-bold text-maintext">
        SQL
      </h1>

      <p class="text-gray mt-3">
        Advanced SQL workshops and relational database exercises.
      </p>
    </div>

    <div class="grid md:grid-cols-2 gap-6">
      {data.map((item) => (
        <EvidenceCard item={item} />
      ))}
    </div>
  </section>
</Layout>